.header {
	font-size: 20px;
	line-height: 1.5em;
	margin: 60px auto;
}

.header span {
	display: block;
}

.section {
	padding: 30px 0;
}

.form-header, .section-header {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 900;
}

.form input {
	margin-bottom: 12px;
}

.form {
	border:5px solid #2727d9;
	padding: 30px 25px;	
}

.form-btn {
	background-color: #2727d9; 
	margin: 12px auto;
}

.feature {
	margin: 60px auto;
}

.feature p {
	margin-top: 20px;
}

.feature-box {
	height: 160px;
}

.footer {
	margin-top: 70px;
}

.footer img {
	margin-bottom: 35px;
}
